<div class="container">
    <table style="background-color: white;" class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                
                <th>Name</th>
                <th>imgname</th>

            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let movie of movies;let i = index">
                <td>{{i+1}}</td>
                <td>{{ movie }}</td>
                <input type="file" (change)="onFileSelected($event,movie)">
            </tr>
        </tbody>
    </table>
</div>

   <!--Upload Image Modal Start -->
   <!-- <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">  Upload Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        
            <form >
                <input type="file" (change)="onFileSelected($event,movie)">
              </form>
        
        </div>
      </div>
    </div>
  </div> -->
  <!--Upload Image Modal End -->