<br>

<div  class="container mt-3">
	<div  id="mySlideshow" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#mySlideshow" data-slide-to="0" class="active"></li>
			<li data-target="#mySlideshow" data-slide-to="1"></li>
			<li data-target="#mySlideshow" data-slide-to="2"></li>
		</ul>

		<!-- Slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="/assets/images/img3.jpg" alt="Slide 1" height="300">
				<div class="carousel-caption">
					<h1> Kitchen Story</h1>
					<p></p>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="/assets/images/img2.avif" alt="Slide 2" height="300">
				<div class="carousel-caption">
					<h1>Second Slide</h1>
					<p>This is the second slide.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="/assets/images/img2.jpg" alt="Slide 3" height="300">
				<div class="carousel-caption">
					<h1>Third Slide</h1>
					<p>This is the third slide.</p>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#mySlideshow" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#mySlideshow" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>


    <section class="main-content">
      <div class="container">
        <h3 style="text-align: center;color: rgb(28, 28, 25);">Order you favorite foods</h3>

        <div class="row">
          <div *ngFor="let product of products" class="col-sm-6 col-md-6 col-lg-3">
            <div style="border-radius: 20px;" class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow">
              <div class="food-card_img position-relative">

                <a routerLink="/signIn"><img style="width:100%;height:200px;" src={{product}} alt=""></a>
              </div>
              <div class="food-card_content">
                <div class="overflow-hidden">
                  <h4 class="food-card_title">{{product}}</h4>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


	</div>
