<div class="container">
<div class="movie-container">
  <h1 style="color: azure;">{{movieName}}</h1>
 

</div>

<ul class="showcase">
  <li>
    <div class="seat"></div>
    <small>N/A</small>
  </li>
  <li>
    <div class="seat selected"></div>
    <small>Selected</small>
  </li>
  <li>
    <div class="seat occupied"></div>
    <small>Occupied</small>
  </li>
</ul>

<div *ngFor="let show of shows" class="container">

  <div style="margin-left: 30%;" class="row">
    <h6 style="color: rgb(2, 2, 2);">Date {{show.date}}</h6>
    <h6 style="color: rgb(2, 2, 2);">Time {{show.time}}</h6>
    <h6 style="color: rgb(2, 2, 2);">Language {{show.language}}</h6>
    <h6 style="color: rgb(2, 2, 2);">Ticket Price {{show.price}}</h6>
  </div>
  <div style="text-align: center;" class="screen">Screen</div>
  <br>
  <div class="row">
    <div *ngIf="show.a1=='available'" clickColor  color='#6feaf6' class="seat" (click)="selectSeat(show,'a1')"><span style="color: aliceblue;">a1</span></div>
    <div *ngIf="show.a1!='available'" style="background-color: red;" class="seat"><span style="color: aliceblue;">a1</span></div>

    <div *ngIf="show.a2=='available'" clickColor  color='#6feaf6' class="seat" (click)="selectSeat(show,'a2')"><span style="color: aliceblue;">a2</span></div>
    <div *ngIf="show.a2!='available'" style="background-color: red;" class="seat"><span style="color: aliceblue;">a1</span></div>

    <div *ngIf="show.a3=='available'" clickColor  color='#6feaf6' class="seat" (click)="selectSeat(show,'a3')"><span style="color: aliceblue;">a3</span></div>
    <div *ngIf="show.a3!='available'" style="background-color: red;" class="seat"><span style="color: aliceblue;">a3</span></div>

    <div *ngIf="show.a4=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'a4')"><span style="color: aliceblue;">a4</span></div>
    <div *ngIf="show.a4!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">a4</span></div>

    <div *ngIf="show.a5=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'a5')"><span style="color: aliceblue;">a5</span></div>
    <div *ngIf="show.a5!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">a5</span></div>

    <div *ngIf="show.a6=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'a6')"><span style="color: aliceblue;">a6</span></div>
    <div *ngIf="show.a6!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">a6</span></div>

    <div *ngIf="show.a7=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'a7')"><span style="color: aliceblue;">a7</span></div>
    <div *ngIf="show.a7!='available'" style="background-color: red;" class="seat"><span style="color: aliceblue;">a7</span></div>

    <div *ngIf="show.a8=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'a8')"><span style="color: aliceblue;">a8</span></div>
    <div *ngIf="show.a8!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">a8</span></div>



  </div>
  <div class="row">
    <div *ngIf="show.b1=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b1')"><span style="color: aliceblue;">b1</span></div>
    <div *ngIf="show.b1!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b1</span></div>
   

    <div *ngIf="show.b2=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b2')"><span style="color: aliceblue;">b2</span></div>
    <div *ngIf="show.b2!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b2</span></div>

    <div *ngIf="show.b3=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b3')"><span style="color: aliceblue;">b3</span></div>
    <div *ngIf="show.b3!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b3</span></div>

    <div *ngIf="show.b4=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b4')"><span style="color: aliceblue;">b4</span></div>
    <div *ngIf="show.b4!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b4</span></div>

    <div *ngIf="show.b5=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b5')"><span style="color: aliceblue;">b5</span></div>
    <div *ngIf="show.b5!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b5</span></div>

    <div *ngIf="show.b6=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b6')"><span style="color: aliceblue;">b6</span></div>
    <div *ngIf="show.b6!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b6</span></div>

    <div *ngIf="show.b7=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b7')"><span style="color: aliceblue;">b7</span></div>
    <div *ngIf="show.b7!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b7</span></div>

    <div *ngIf="show.b8=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'b8')"><span style="color: aliceblue;">b8</span></div>
    <div *ngIf="show.b8!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">b8</span></div>


  </div>
  <div class="row">
    <div *ngIf="show.c1=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c1')"><span style="color: aliceblue;">c1</span></div>
    <div *ngIf="show.c1!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c1</span></div>

    <div *ngIf="show.c2=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c2')"><span style="color: aliceblue;">c2</span></div>
    <div *ngIf="show.c2!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c2</span></div>

    <div *ngIf="show.c3=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c3')"><span style="color: aliceblue;">c3</span></div>
    <div *ngIf="show.c3!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c3</span></div>

    <div *ngIf="show.c4=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c4')"><span style="color: aliceblue;">c4</span></div>
    <div *ngIf="show.c4!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c4</span></div>

    <div *ngIf="show.c5=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c5')"><span style="color: aliceblue;">c5</span></div>
    <div *ngIf="show.c5!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c5</span></div>

    <div *ngIf="show.c6=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c6')"><span style="color: aliceblue;">c6</span></div>
    <div *ngIf="show.c6!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c6</span></div>

    <div *ngIf="show.c7=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c7')"><span style="color: aliceblue;">c7</span></div>
    <div *ngIf="show.c7!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c7</span></div>

    <div *ngIf="show.c8=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'c8')"><span style="color: aliceblue;">c8</span></div>
    <div *ngIf="show.c8!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">c8</span></div>

  </div>
  <div class="row">
    <div *ngIf="show.d1=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d1')"><span style="color: aliceblue;">d1</span></div>
    <div *ngIf="show.d1!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d1</span></div>

    <div *ngIf="show.d2=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d2')"><span style="color: aliceblue;">d2</span></div>
    <div *ngIf="show.d2!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d2</span></div>

    <div *ngIf="show.d3=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d3')"><span style="color: aliceblue;">d3</span></div>
    <div *ngIf="show.d3!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d3</span></div>

    <div *ngIf="show.d4=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d4')"><span style="color: aliceblue;">d4</span></div>
    <div *ngIf="show.d4!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d4</span></div>

    <div *ngIf="show.d5=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d5')"><span style="color: aliceblue;">d5</span></div>
    <div *ngIf="show.d5!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d5</span></div>

    <div *ngIf="show.d6=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d6')"><span style="color: aliceblue;">d6</span></div>
    <div *ngIf="show.d6!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d6</span></div>

    <div *ngIf="show.d7=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d7')"><span style="color: aliceblue;">d7</span></div>
    <div *ngIf="show.d7!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d7</span></div>

    <div *ngIf="show.d8=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'d8')"><span style="color: aliceblue;">d8</span></div>
    <div *ngIf="show.d8!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">d8</span></div>

  </div>
  <div class="row">
    <div *ngIf="show.e1=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e1')"><span style="color: aliceblue;">e1</span></div>
    <div *ngIf="show.e1!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e1</span></div>

    <div *ngIf="show.e2=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e2')"><span style="color: aliceblue;">e2</span></div>
    <div *ngIf="show.e2!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e2</span></div>


    <div *ngIf="show.e3=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e3')"><span style="color: aliceblue;">e3</span></div>
    <div *ngIf="show.e3!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e3</span></div>


    <div *ngIf="show.e4=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e4')"><span style="color: aliceblue;">e4</span></div>
    <div *ngIf="show.e4!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e4</span></div>


    <div *ngIf="show.e5=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e5')"><span style="color: aliceblue;">e5</span></div>
    <div *ngIf="show.e5!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e5</span></div>


    <div *ngIf="show.e6=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e6')"><span style="color: aliceblue;">e6</span></div>
    <div *ngIf="show.e6!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e6</span></div>


    <div *ngIf="show.e7=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e7')"><span style="color: aliceblue;">e7</span></div>
    <div *ngIf="show.e7!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e7</span></div>

    <div *ngIf="show.e8=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'e8')"><span style="color: aliceblue;">e8</span></div>
    <div *ngIf="show.e8!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">e8</span></div>


  </div>
  <div class="row">
    <div *ngIf="show.f1=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f1')"><span style="color: aliceblue;">f1</span></div>
    <div *ngIf="show.f1!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f1</span></div>


    <div *ngIf="show.f2=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f2')"><span style="color: aliceblue;">f2</span></div>
    <div *ngIf="show.f2!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f2</span></div>


    <div *ngIf="show.f3=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f3')"><span style="color: aliceblue;">f3</span></div>
    <div *ngIf="show.f3!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f3</span></div>


    <div *ngIf="show.f4=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f4')"><span style="color: aliceblue;">f4</span></div>
    <div *ngIf="show.f4!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f4</span></div>


    <div *ngIf="show.f5=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f5')"><span style="color: aliceblue;">f5</span></div>
    <div *ngIf="show.f5!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f5</span></div>


    <div *ngIf="show.f6=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f6')"><span style="color: aliceblue;">f6</span></div>
    <div *ngIf="show.f6!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f6</span></div>


    <div *ngIf="show.f7=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f7')"><span style="color: aliceblue;">f7</span></div>
    <div *ngIf="show.f7!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f7</span></div>


    <div *ngIf="show.f8=='available'" clickColor color='#6feaf6' class="seat" (click)="selectSeat(show,'f8')"><span style="color: aliceblue;">f8</span></div>
    <div *ngIf="show.f8!='available'" style="background-color: red;" class="seat" ><span style="color: aliceblue;">f8</span></div>

  </div>

    <br>
    <input style="margin-left: 55%;" class="btn btn-success" type="Submit" value="Book Seats" (click)="showBook()">
    <hr>
</div>

<p class="text">
  You have selected <span id="count">{{this.count}}</span> seats for a price of {{this.price}}
  </div>
