<body>
    <div *ngFor="let show of shows" class="ticket">
        <h1>Movie Ticket</h1>
        <div class="row">
            <div class="col">
                <h2>Title:</h2>
                <p>{{show.movieName}}</p>
            </div>
            <div class="col">
                <h2>Date:</h2>
                <p>{{show.date}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Time:</h2>
                <p>{{show.time}}</p>
            </div>
            <div class="col">
                <h2>Seat:</h2>
                <p>{{show.tickets}}</p>
            </div>
        </div>

        <h2>Price:</h2>
        <p>{{show.price}}  </p>
    </div>
</body>