<div class="loginDiv">
  <div style="background-color:rgb(255, 254, 254)"class="formDiv">
    <h2>Add Product</h2>
    <hr>
    <div style="display: inline-block;">
      <form  (ngSubmit)="publishShow()">
        <!-- Name input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Movie Name</label>
          <input style="float:left" name="movieName"  [(ngModel)]="ShowScreen.movieName" type="text" id="form2Example1" class="form-control" />
        </div> <br> <br>

         <!--Category  input-->
         <!-- <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Language</label>
          <input name="language" type="text" [(ngModel)]="ShowScreen.language" id="form2Example2" class="form-control" />
        </div> -->


        <select name="language" [(ngModel)]="ShowScreen.language" class="form-select" aria-label="Default select example">
          <option selected>Language</option>
          <option value="Hindi">Hindi</option>
          <option value="English">English</option>
        </select>

         <!-- Kcal input -->
         <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Date</label>
          <input name="date"  [(ngModel)]="ShowScreen.date" type="date" id="form2Example3" class="form-control" />
        </div>

         <!-- price input -->
         <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">time</label>
          <input name="time"  [(ngModel)]="ShowScreen.time" type="time" id="form2Example4" class="form-control" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Ticket Price</label>
          <input name="price"  [(ngModel)]="ShowScreen.price" type="text" id="form2Example4" class="form-control" />
        </div>

         <!-- Quantity input -->


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Publish Show</button>
        <!-- 2 column grid layout for inline styling -->
      </form>
    </div>
  </div>
</div>
  <!-- Registration Form end -->

